<div class="dialog-header">
  <h1 mat-dialog-title>{{ isEdit ? "Edit" : "Create" }} Boat</h1>
  <button mat-icon-button mat-dialog-close aria-label="Close" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>Would you like to {{ isEdit ? "edit" : "create" }} the following boat?</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="outline" class="w-full mb-8" *ngIf="isEdit">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-8">
      <mat-label>Boat Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">Boat name is required</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Name cannot exceed 100 characters</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4"></textarea>
      <mat-error *ngIf="form.get('description')?.hasError('maxlength')">Description cannot exceed 500 characters</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">{{ isEdit ? "Save" : "Create" }}</button>
</div>