.container {
  padding: 0 30px;
}

.toolbar {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  padding: 8px 0;
}

.full-width-table {
  width: 100%;
}

.mat-column-actions{
  text-align: right;

  button {
    box-shadow: none !important;
    outline: none;
  }
}
